body
{
    text-align: center;
}

#app {
    background-color: aliceblue;
}

#myCarousel
{
    background-color: red;
}
#myCarousel img{
    height: 300px;
    margin-top: 34px;
}
.carousel-inner p{
    margin-top: 16px;
    color: chartreuse;
    font-size: 20px;
} 


